.app {
  margin: 0 auto;
  background-color: #dddddd;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.flex-container {
  margin: 0 auto;
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}