.row {
    background-color: rgb(64, 64, 64);
    color: rgb(255, 255, 255);
    display: flex;
    width: 1000px;
    margin: 0 auto;
    align-items: center;
}
.col {
    background-color: teal;
    flex: 1;
    padding: 20px;
    margin: 15px;
}
.col-2 {
    flex: 2;
    background-color: teal;
    padding: 20px;
    margin: 15px;

}
.col-3 {
    flex: 3;
    background-color: teal;
    padding: 20px;
    margin: 15px;
}